---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: speaches
  namespace: home
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/speaches-ai/speaches
              tag: 0.9.0-rc.2-cuda-12.6.3
            env:
              NVIDIA_VISIBLE_DEVICES: all
        pod:
          runtimeClassName: nvidia
          nodeSelector:
            kubernetes.io/hostname: worker04
          tolerations:
            - key: gpu
              operator: Exists

    service:
      main:
        controller: main
        ports:
          http:
            port: 8000
