---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: speaches
  namespace: home
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/speaches-ai/speaches
              tag: 0.9.0-rc.2-cuda-12.6.3
            env:
              NVIDIA_VISIBLE_DEVICES: all
            lifecycle:
              postStart:
                exec:
                  command:
                    - /bin/bash
                    - -c
                    - |
                      curl -LsSf https://astral.sh/uv/install.sh | sh # https://github.com/speaches-ai/speaches/issues/416
                      uvx speaches-cli model download Systran/faster-whisper-small.en
                      uvx speaches-cli model download Systran/faster-whisper-medium.en
                      uvx speaches-cli model download speaches-ai/Kokoro-82M-v1.0-ONNX
                      uvx speaches-cli model download speaches-ai/piper-en_US-hfc_female-medium
          wyoming-openai:
            image:
              repository: ghcr.io/roryeckel/wyoming_openai
              tag: 0.3.10
            env:
              WYOMING_LANGUAGES: en
              STT_BACKEND: "SPEACHES"
              TTS_BACKEND: "SPEACHES"
              STT_OPENAI_URL: http://localhost:8000/v1
              TTS_OPENAI_URL: http://localhost:8000/v1
              STT_MODELS: 'Systran/faster-whisper-small.en'
              STT_STREAMING_MODELS: 'Systran/faster-whisper-small.en'
              # STT_MODELS: 'Systran/faster-whisper-small.en Systran/faster-whisper-medium.en'
              TTS_MODELS: 'speaches-ai/Kokoro-82M-v1.0-ONNX speaches-ai/piper-en_US-hfc_female-medium'
              TTS_STREAMING_MODELS: 'speaches-ai/Kokoro-82M-v1.0-ONNX speaches-ai/piper-en_US-hfc_female-medium'

        pod:
          runtimeClassName: nvidia
          nodeSelector:
            kubernetes.io/hostname: worker04
          tolerations:
            - key: gpu
              operator: Exists

    service:
      main:
        controller: main
        ports:
          http:
            port: 8000
      wyoming-openai:
        controller: main
        ports:
          http:
            port: 10300

    persistence:
      downloads:
        type: emptyDir
        globalMounts:
          - path: /home/ubuntu/.cache/huggingface/hub/
