---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-crds
  namespace: flux-system
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: traefik-crds
      version: 1.11.1
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      interval: 5m
  values:
    gatewayAPI: true
