# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
  namespace: utils
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: v0.6.36-ollama
            env:
              WEBUI_AUTH_TRUSTED_EMAIL_HEADER: Remote-Email
              WEBUI_AUTH_TRUSTED_NAME_HEADER: Remote-User
              DATABASE_URL: sqlite:////app/backend/data/webui_db/webui.db
              OLLAMA_HOST: 0.0.0.0:11434
              NVIDIA_VISIBLE_DEVICES: all
        pod:
          runtimeClassName: nvidia
          nodeSelector:
            kubernetes.io/hostname: worker04
          tolerations:
            - key: gpu
              operator: Exists

    ingress:
      main:
        enabled: true
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: "admin-forwardauth-authelia@kubernetescrd"
        hosts:
          - host: "ollama.${domain}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
    service:
      main:
        controller: main
        ports:
          http:
            port: 8080
      api:
        controller: main
        ports:
          http:
            port: 11434

    persistence:
      models:
        enabled: true
        type: emptyDir
        advancedMounts:
          main:
            main:
              - path: /root/.ollama/models

      data:
        enabled: true
        existingClaim: ollama-data
        advancedMounts:
          main:
            main:
              - path: /app/backend/data/webui_db
                subPath: webui_db
                readOnly: false
              - path: /app/backend/data/vector_db
                subPath: vector_db
                readOnly: false
              - path: /app/backend/data/uploads
                subPath: uploads
                readOnly: false
