version: "3.5"
services:
  traefik:
    image: traefik:v2.2
    depends_on:
      - authelia
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /homelab/traefikconfig/traefik.toml:/traefik.toml
      - /homelab/traefikconfig/dynamic.toml:/dynamic.toml
      - /etc/letsencrypt:/ssl
    networks:
      - webnet
    ports:
      - 80:80
      - 443:443
    deploy:
      placement:
        constraints:
          - node.hostname == shirleytemple

  portainer:
    image: portainer/portainer
    command: -H unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /homelab/portainerdata:/data
    networks:
      - webnet
    deploy:
      labels:
        - traefik.http.routers.portainer.rule=Host(`portainer.joshwolfe.ca`)
        - traefik.http.routers.portainer.tls=true
        - traefik.http.services.portainer-service.loadbalancer.server.port=9000
        - traefik.http.routers.portainer.middlewares=authelia@docker
      placement:
        constraints:
          - node.hostname == shirleytemple

  grocy:
    image: linuxserver/grocy
    networks:
      - webnet
    volumes:
      - /homelab/grocy/config:/config
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=America/Toronto
    deploy:
      labels:
        - traefik.http.routers.grocy.rule=Host(`grocy.joshwolfe.ca`)
        - traefik.http.routers.grocy.tls=true
        - traefik.http.services.grocy-service.loadbalancer.server.port=80
      placement:
        constraints:
          - node.hostname == shirleytemple

networks:
  webnet:
    external: true
