version: "3.5"
services:
  traefik:
    image: traefik:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /homelab/traefikconfig/traefik.toml:/traefik.toml
      - /homelab/traefikconfig/acme.json:/acme.json
      - /etc/letsencrypt:/ssl
    labels:
        - traefik.backend=traefik
        - traefik.frontend.rule=Host:traefik.joshwolfe.ca
        - traefik.port=8080
        - traefik.docker.network=webnet
        - traefik.frontend.redirect.entryPoint=https
    networks:
      - webnet
    ports:
      - 80:80
      - 443:443

  portainer:
    image: portainer/portainer
    command: -H unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /homelab/portainerdata:/data
    networks:
      - webnet
    labels:
        - traefik.backend=portainer
        - traefik.frontend.rule=Host:portainer.joshwolfe.ca
        - traefik.port=9000
        - traefik.docker.network=webnet
        - traefik.frontend.redirect.entryPoint=https

networks:
  webnet:
    external: true
