---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: admin
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: traefik
      version: 37.1.2
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
      interval: 5m
  values:
    image:
      tag: v3.1.3
    ingressRoute:
      dashboard:
        enabled: false
    ingressClass:
      enabled: false
    ports:
      web:
        asDefault: false
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        asDefault: true
        tls:
          enabled: true
          options: "default"
      web-ext:
        asDefault: false
        port: 9080
        exposedPort: 9080
        expose:
          default: true
        redirections:
          entryPoint:
            to: websecure # Since we change the ports in NAT
            scheme: https
            permanent: true
      websecure-ext:
        asDefault: false
        port: 9443
        exposedPort: 9443
        expose:
          default: true
        tls:
          enabled: true
          options: "default"

    additionalArguments:
      - "--providers.file.filename=/etc/traefik/dynamic.yml"
      - "--providers.file.watch=true"

    volumes:
      - name: traefik-config
        mountPath: /etc/traefik
        type: configMap

    service:
      spec:
        externalTrafficPolicy: Cluster
        loadBalancerIP: "${traefik_load_balancer_ip}"

    metrics:
      prometheus:
        serviceMonitor:
          enabled: true
