---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: longhorn
      version: 1.9.2
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
      interval: 5m
  values:
    ingress:
      enabled: true
      ingressClassName: traefik
      host: "longhorn.${domain}"
      annotations:
        traefik.ingress.kubernetes.io/router.middlewares: "admin-forwardauth-authelia@kubernetescrd,longhorn-system-svc-longhorn-headers@kubernetescrd"

    persistence:
      reclaimPolicy: Retain

    defaultSettings:
      backupTarget: nfs://${storage_host_ip}:/raid/longhorn-backups
      backupConcurrentLimit: 1
      concurrentAutomaticEngineUpgradePerNodeLimit: 1
      createDefaultDiskLabeledNodes: true

    csi:
      kubeletRootDir: /var/lib/kubelet

    longhornUI:
      replicas: 1
