---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      main:
        pod:
          hostNetwork: true
        containers:
          main:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2026.1.3
            env:
              tz: america/toronto
            lifecycle:
              postStart:
                exec:
                  command: ["touch", "/.dockerenv"]
      codeserver:
        containers:
          codeserver:
            enabled: true
            image:
              repository: codercom/code-server
              tag: 4.109.2
            workingDir: "/config"
            args:
              - --auth
              - "none"
              - --user-data-dir
              - "/config/.vscode"
              - --extensions-dir
              - "/config/.vscode"

    ingress:
      main:
        enabled: true
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure-ext,websecure
        hosts:
          - host: "hass.${domain}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
      codeserver:
        enabled: true
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: "admin-forwardauth-authelia@kubernetescrd"
        hosts:
          - host: "confighass.${domain}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: codeserver

    service:
      main:
        controller: main
        ports:
          http:
            port: 8123

      codeserver:
        controller: codeserver
        ports:
          http:
            port: 8080

    persistence:
      config:
        enabled: true
        existingClaim: hass-config
        globalMounts:
          - path: /config
            readOnly: false

      network-share:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${storage_host_ip}"
            path: /raid/k8s-shared/home-assistant
        globalMounts:
          - path: /mnt/nfs
            readOnly: false
