ingress:
  main:
    enabled: true
    {{- if hasKey .Values "middlewares" }}
    annotations:
      traefik.ingress.kubernetes.io/router.middlewares: "{{ .Values.middlewares }}"
    {{ end }}
    hosts:
      - host: "{{ .Values.domain }}"
        paths:
          - path: /
            pathType: Prefix
