---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tiny-auth
  namespace: admin
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/steveiliop56/tinyauth
              tag: v4.0.1
            env:
              TZ: America/Toronto
              APP_URL: https://auth.${domain}
              PROVIDERS_POCKETID_CLIENT_ID: ${tiny_auth_pocket_id_client_id}
              PROVIDERS_POCKETID_CLIENT_SECRET: ${tiny_auth_pocket_id_client_secret}
              PROVIDERS_POCKETID_AUTH_URL: https://id.${domain}/authorize
              PROVIDERS_POCKETID_TOKEN_URL: https://id.${domain}/api/oidc/token
              PROVIDERS_POCKETID_USER_INFO_URL: https://id.${domain}/api/oidc/userinfo
              PROVIDERS_POCKETID_REDIRECT_URL: https://auth.${domain}/api/oauth/callback/pocketid
              PROVIDERS_POCKETID_SCOPES: openid email profile groups
              PROVIDERS_POCKETID_NAME: Pocket ID

    ingress:
      main:
        enabled: true
        className: traefik
        hosts:
          - host: "auth.${domain}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main

    service:
      main:
        controller: main
        ports:
          http:
            port: 3000
            protocol: TCP

    persistence:
      data:
        enabled: true
        existingClaim: tiny-auth-data
