---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wyoming
  namespace: home
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      speech:
        containers:
          whisper:
            image:
              repository: linuxserver/faster-whisper
              tag: 3.0.2-gpu
            env:
              NVIDIA_VISIBLE_DEVICES: all
              TZ: America/Toronto
              WHISPER_MODEL: small-int8
          piper:
            image:
              repository: rhasspy/wyoming-piper
              tag: 2.2.2
            args: ["--voice", "en_US-hfc_female-medium", "--update-voices", "--use-cuda", "--debug"]
            env:
              NVIDIA_VISIBLE_DEVICES: all
          openwakeword:
            image:
              repository: rhasspy/wyoming-openwakeword
              tag: 2.1.0
            env:
              NVIDIA_VISIBLE_DEVICES: all
        pod:
          runtimeClassName: nvidia
          nodeSelector:
            kubernetes.io/hostname: worker04
          tolerations:
            - key: gpu
              operator: Exists

    service:
      whisper:
        controller: speech
        ports:
          http:
            port: 10300

      piper:
        controller: speech
        ports:
          http:
            port: 10200

      openwakeword:
        controller: speech
        ports:
          http:
            port: 10400
