---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
  namespace: media
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 5m
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/home-operations/sonarr
              tag: 4.0.16
            securityContext:
              fsGroup: 568
              runAsUser: 568
              runAsGroup: 568
            env:
              TZ: America/Toronto

    ingress:
      main:
        enabled: true
        className: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: "admin-forwardauth-authelia@kubernetescrd"
        hosts:
          - host: "sonarr.${domain}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main

      test-pom:
        enabled: true
        className: pomerium
        annotations:
          ingress.pomerium.io/policy: ${pom_admin_group}
        hosts:
          - host: "sonarr.${domain}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main

      test-pom-api:
        enabled: true
        className: pomerium
        annotations:
          ingress.pomerium.io/allow_public_unauthenticated_access: "true"
        hosts:
          - host: "sonarr.${domain}"
            paths:
              - path: /api
                pathType: Prefix
                service:
                  identifier: main
    service:
      main:
        controller: main
        ports:
          http:
            port: 8989

    route:
      app:
        hostnames:
          - gw-sonarr.${domain}
        parentRefs:
          - name: traefik
            namespace: admin

    persistence:
      config:
        enabled: true
        existingClaim: sonarr-config
      media:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${storage_host_ip}"
            path: /raid/network_share/media
        globalMounts:
          - path: /media
            readOnly: false
