---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # renovate: registryUrl=https://grafana.github.io/helm-charts chart=grafana-operator
  - https://github.com/grafana/grafana-operator/releases/download/v5.20.0/crds.yaml
