---
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  namespace: monitoring
  labels:
    dashboards: "grafana"
spec:
  config:
    server:
      domain: "grafana.${domain}"
      root_url: "https://grafana.${domain}"
    auth.generic_oauth:
      enabled: 'true'
      name: Authelia
      client_id: grafana
      client_secret: ${authelia_grafana_client_secret}
      auth_url: https://login.${domain}/api/oidc/authorization
      token_url: https://login.${domain}/api/oidc/token
      api_url: https://login.${domain}/api/oidc/userinfo
      scopes: "openid profile groups email"
      login_attribute_path: preferred_username
      name_attribute_path: name
      groups_attribute_path: groups
      use_pkce: 'true'
      allow_assign_grafana_admin: 'true'
      role_attribute_path: "contains(groups[*], 'admin') && 'GrafanaAdmin'"

  ingress:
    spec:
      ingressClassName: traefik
      rules:
        - host: grafana.${domain}
          http:
            paths:
              - backend:
                  service:
                    name: grafana-service
                    port:
                      number: 3000
                path: /
                pathType: Prefix
