version: "3.5"
services:
  plex:
    image: linuxserver/plex
    networks:
      - webnet
    volumes:
      - /homelab/plex/config:/config:Z
      - /homelab/plex/transcode:/transcode:Z
      - /storage/TV-shows:/data/tvshows:Z
      - /storage/Movies:/data/movies:Z
    environment:
      - PUID=1001
      - PGID=1001
    ports:
      #- 32400:32400
      - 1900:1900/udp
      - 3005:3005
      - 5353:5353/udp
      - 8324:8324
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
      - 32469:32469
    deploy:
      labels:
        - traefik.http.routers.plex.rule=Host(`plex.${domain}`)
        - traefik.http.services.plex-service.loadbalancer.server.port=32400

  sonarr:
    image: linuxserver/sonarr
    networks:
      - webnet
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /storage/TV-shows:/tv
      - /homelab/sonarr:/config
      - /homelab/transmission/downloads/complete:/downloads
    environment:
      - PUID=1001
      - PGID=1001
    deploy:
      labels:
        - traefik.http.routers.sonarr.rule=Host(`sonarr.${domain}`)
        - traefik.http.services.sonarr-service.loadbalancer.server.port=8989
        - traefik.http.routers.sonarr.middlewares=localOnly@file,authelia@file

  radarr:
    image:  linuxserver/radarr:latest
    networks:
      - webnet
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /storage/Movies:/movies
      - /homelab/radarr:/config
      - /homelab/transmission/downloads/complete:/downloads
    environment:
      - PUID=1001
      - PGID=1001
    deploy:
      labels:
        - traefik.http.routers.radarr.rule=Host(`radarr.${domain}`)
        - traefik.http.services.radarr-service.loadbalancer.server.port=7878
        - traefik.http.routers.radarr.middlewares=localOnly@file,authelia@file

  bazarr:
    image: linuxserver/bazarr:latest
    networks:
      - webnet
    volumes:
      - /homelab/bazarr:/config
      - /storage/Movies:/movies
      - /storage/TV-shows:/tv
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=America/New_York
    deploy:
      labels:
        - traefik.http.routers.bazarr.rule=Host(`bazarr.${domain}`)
        - traefik.http.services.bazarr-service.loadbalancer.server.port=6767
        - traefik.http.routers.bazarr.middlewares=localOnly@file,authelia@file

  jackett:
    image:  linuxserver/jackett:latest
    networks:
      - webnet
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /homelab/jackett:/config
        #- /homelab/jackett/downloads:/downloads
    environment:
      - PUID=1001
      - PGID=1001
    deploy:
      labels:
        - traefik.http.routers.jackett.rule=Host(`jackett.${domain}`)
        - traefik.http.services.jackett-service.loadbalancer.server.port=9117
        - traefik.http.routers.jackett.middlewares=localOnly@file,authelia@file

networks:
  hostnet:
    name: "host"
    external: true
  webnet:
    external: true
