---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-metrics-k8s-stack
  namespace: monitoring
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: victoria-metrics-k8s-stack
      version: 0.63.5
      sourceRef:
        kind: HelmRepository
        name: victoria-metrics
        namespace: flux-system
      interval: 5m
  values:
    victoria-metrics-operator:
      enabled: false

    prometheus-node-exporter:
      enabled: false

    grafana:
      enabled: false
      forceDeployDatasource: true

    defaultDashboards:
      grafanaOperator:
        enabled: true

    defaultDatasources:
      grafanaOperator:
        enabled: true

    vmsingle:
      spec:
        retentionPeriod: 7d
      ingress:
        enabled: true
        annotations:
          traefik.ingress.kubernetes.io/router.middlewares: "admin-forwardauth-authelia@kubernetescrd"
        hosts:
          - "vm.${domain}"
