---
- name: Read definition file from the Ansible controller file system after Jinja templating
  k8s:
    state: present
    definition: "{{ lookup('template', '{{ base_dir }}/kubernetes/testing/testing.yml') }}"
