---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nvidia-device-plugin
  namespace: nvidia
spec:
  interval: 5m
  upgrade:
    force: true
  chart:
    spec:
      chart: nvidia-device-plugin
      version: 0.18.0
      sourceRef:
        kind: HelmRepository
        name: nvidia-k8s-device-plugin
        namespace: flux-system
      interval: 5m
  values:
    runtimeClassName: nvidia
    tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      - key: nvidia.com/gpu
        operator: Exists
        effect: NoSchedule
      - key: gpu
        operator: Exists
        effect: NoSchedule
